.mainContainer {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    background: transparent;
    color: white;
}

.myTeamSection {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    height: 100%;
}

.theirTeamSection {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    height: 100%;
}

.alliedBanContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.banWrapper {
    display: flex;
    height: 80%;
    width: 90%;
    margin-right: 5px;
    justify-content: flex-end;
    align-items: center;
}

.enemyBanContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.singleBanContainer {
    position: relative;
    height: 100%;
    max-width: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banImage {
    aspect-ratio: 1;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.banFilter {
    position: absolute;
    aspect-ratio: 1;
    height: 100%;
    backdrop-filter: grayscale(1);
}

.teamContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: 7;
    border: green solid 2px;
}

.utilContainer {
    flex: 3;
    border: yellow solid 2px;
}

/* BANNING */
.champSelectBANNING {
    position: relative;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    margin: 10px 20px 10px 25px;
    max-height: calc(70% * 0.22);
    box-sizing: border-box;
    overflow: hidden;
}

.champSelectBANNING::before {
    --border_color: red;
    --secondary_color: transparent;
    content: '';
    position: absolute;
    aspect-ratio: 1;
    width: 150%;
    background-image: conic-gradient(var(--secondary_color) 0deg, var(--secondary_color) 110deg, var(--border_color) 120deg, var(--border_color) 180deg, var(--secondary_color) 180deg, var(--secondary_color) 290deg, var(--border_color) 300deg, var(--border_color) 360deg);
    animation: spin cubic-bezier(.17, .67, .83, .67) 4s infinite;
}

.borderBox {
    border: 0;
    outline: 0;
    position: relative;
    width: 99%;
    height: 96%;
    background: #181a1b;
    opacity: 1;
    border-radius: 19px;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.banningBGContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes banBlackout {
    0% {
        backdrop-filter: grayscale(0);
    }
    100% {
        backdrop-filter: grayscale(1);
    }
}

.banningBGImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

.banningBGFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent, #181a1b);
    backdrop-filter: grayscale(1);
    /*animation: banBlackout linear 0.5s;*/
    overflow: hidden;
    border-radius: 19px;
}

/* PICKING */

.champSelectPICKING {
    position: relative;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    margin: 10px 20px 10px 25px;
    max-height: calc(70% * 0.22);
    box-sizing: border-box;
    overflow: hidden;
}

.champSelectPICKING::before {
    --border_color: white;
    --secondary_color: transparent;
    content: '';
    position: absolute;
    aspect-ratio: 1;
    width: 150%;
    background-image: conic-gradient(var(--secondary_color) 0deg, var(--secondary_color) 110deg, var(--border_color) 120deg, var(--border_color) 180deg, var(--secondary_color) 180deg, var(--secondary_color) 290deg, var(--border_color) 300deg, var(--border_color) 360deg);
    animation: spin cubic-bezier(.17, .67, .83, .67) 4s infinite;
    animation-delay: -0s;
}

/* PICKING-SELF */

.champSelectPICKING_SELF {
    position: relative;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    margin: 10px 20px 10px 25px;
    max-height: calc(70% * 0.22);
    box-sizing: border-box;
    overflow: hidden;
}

.champSelectPICKING_SELF::before {
    --border_color: gold;
    --secondary_color: transparent;
    content: '';
    position: absolute;
    aspect-ratio: 1;
    width: 150%;
    background-image: conic-gradient(var(--secondary_color) 0deg, var(--secondary_color) 110deg, var(--border_color) 120deg, var(--border_color) 180deg, var(--secondary_color) 180deg, var(--secondary_color) 290deg, var(--border_color) 300deg, var(--border_color) 360deg);
    animation: spin cubic-bezier(.17, .67, .83, .67) 4s infinite;
    animation-delay: -0s;
}



.pickingBGContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pickingBGImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

.pickingBGFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent, #181a1b);
}

/* FINALIZATION */
.champSelectFINALIZATION {
    position: relative;
    flex-basis: 20%;
    height: 100%;
    margin: 10px 20px 10px 25px;
    border-radius: 20px;
    max-height: calc(70% * 0.22);
    border: white solid 2px;
    overflow: hidden;
}

.finalizationBGContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.finalizationBGImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
    animation: zoomIn 0.5s;
}


@keyframes zoomIn {
    0% {
        width: 150%;
        height: 150%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.finalizationBGFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent, #181a1b);
}

.teammateContent {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.finalizationContentSummonerSpells {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10%;
    height: 90%;
    left: 5%;
    top: 5%;
}

.finalizationContentSummonerSpellContainer {
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    max-height: 50%;
    max-width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.champSelectComponentSummonerSpellImage {
    height: 80%;
    width: 80%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: 50% 50%;

    outline: none;
    border: none;
}

.summonerSpellsSection {
    position: absolute;
    width: 10%;
}

.championNameContainer {
    position: absolute;
    height: 30%;
    width: 30%;
    top: 15%;
    right: 9%;
    text-align: right;
    font-family: "Beaufort for LOL";
    font-weight: 600;
    font-size: 1.3em;
}

.positionContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    width: 5%;
    aspect-ratio: 1;
}

.positionImage {
    object-fit: contain;
    object-position: center;
    max-height: 100%;
    max-width: 100%;
}

.statusContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70%;
    width: 30%;
    top: 15%;
    right: 8%;
    text-align: right;
    font-family: "Beaufort for LOL";
    font-weight: 500;
    font-size: 1.0em;
}
.singleStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex: 1;
}

.champSelectSection {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
    height: 100%;
}

.championSelectorContainer {
    max-height: 100%;


    scroll-behavior: smooth;
    overflow-x: hidden;
    align-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y : scroll;
    gap: 10px;
}

.champSelectWrapper {
    position: relative;
    height: 90%;
    min-height: 90%;
    max-height: 90%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.searchInput {
    position: absolute;
    top: 9%;
    left: 50%;
    width: 20%;
    transform: translateX(-35%);
    z-index: 100;
}

.championSelectorLockInButton {
    position: absolute;
    bottom: 25%;
    right: 45%;
    height: 5%;
    width: 10%;
}

.timerContainer {
    display: flex;
    flex: 1;
    border: red solid 2px;
    min-height: calc(1/12 *100%);
}

.selectUtilContainer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: calc(10/12 *100%);
    flex: 11;
    border: blue solid 2px;
}

.selectLockin {
    display: flex;

    flex: 1;
    width: 100%;
    height: 100%;

    max-height: calc(1/12 *100%);
    border: green solid 2px;
}