.task_configuration_container {
    flex: 0;
    margin-top: 15px;
    border: #785A28 solid;
    border-radius: 5px;
}

.task_configuration_name {
    display: flex;
    color: #C8AA6E;
    margin-left: 10px;
    font-size: 125%;
}

.task_configuration_checkbox {
    margin-left: 0;
    border-radius: 100%;
}

.task_configuration_parameter_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.singleTaskConfig {
    flex: 0;
    margin-left: 10px;
}

.task_configuration_parameter {
    flex: 1;
    background: transparent;
    border: #785A28 solid 2px;
    margin: 5px 0 5px 0;
    border-radius: 5px;

}

.task_configuration_parameter:active {
    background: red;
}

.task_configuration_parameter:focus {
    background: green;
    outline: none;
}