/* See https://lolstatic-a.akamaihd.net/webfonts/live/css/fonts/beaufortforlol.css*/
@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort for LOL-Bold";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/BoldItalic1.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL-BoldItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/BoldItalic1.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort for LOL-Heavy";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/HeavyItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL-HeavyItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/HeavyItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL-Italic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort for LOL-Light";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Light.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/LightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL-LightItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort for LOL-Medium";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Beaufort for LOL-MediumItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort for LOL";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Beaufort for LOL-Regular";
    src: url("http://127.0.0.1:35199/static/assets/fonts/BeaufortForLoL/Regular.ttf") format("truetype");
}

/* See https://lolstatic-a.akamaihd.net/webfonts/live/css/fonts/spiegel.css */
@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Spiegel-Bold";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Spiegel-BoldItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Spiegel-Regular";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Spiegel-RegularItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/RegularItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Spiegel-SemiBold";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Spiegel";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Spiegel-SemiBoldItalic";
    src: url("http://127.0.0.1:35199/static/assets/fonts/Spiegel-TTF/SemiBoldItalic.ttf") format("truetype");
}

/* Styles */
.mainContainer {
    user-select: none;
    font-family: "Beaufort for LOL";
    color: white;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
}

.videoContainer {
    position: absolute;
    height: 100vh;
    width: 82.50vw;
    z-index: 0;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainContent {
    position: absolute;
    height: 100vh;
    width: 82.50vw;
    background-color: transparent;
    z-index: 1;
}

.friendsTab {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 17.50vw;
    left: 82.50vw;
    z-index: 1;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.friendsChatWindow {
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, 0.9);
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 30vw;
    left: 82.50vw;
    transform: translateX(-100.5%);
    z-index: 100;
}

.friendsGrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.containerSelector {
    display: flex;
    top: 0;
    color: white;
    height: 10%;
    width: 65%;
}


.containerButton {
    flex: 1 0 0;
    border-radius: 0;
    border: none;
    color: white;
    background: #5B5A56;
}

.containerButton:hover {
    background: #3C3C41;
}

.contentContainer {
    position: relative;
    height: 90%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

.friendsGrid::-webkit-scrollbar-track {
    background:transparent;
    color: transparent;
    visibility: hidden;
}

.friendsGrid::-webkit-scrollbar {
    width: 10px;
}

.friendsGrid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}
