.gamemodeSelectorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.gamemodeSelectorElement {
    align-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gamemodeSelectorIcon {
    object-fit: fill;
    height: 100%;
}

.gamemodeSelectorIconVideo {
    position: relative;
    object-fit: fill;
    height: 100%;
}


.gamemodeSelectorIconContainer {
    position: relative;
    top: 10%;
    height: 12%;
    left: 37.5%;
    width: 25%;
}

.gamemodeSelectorHeader {
    font-family: "Spiegel";
    font-weight: 600;
    top: 10%;
    margin-top: 2%;
    position: relative;
    text-align: center;
    height: 10%;
    width: 21%;
    left: 40%;
}

.gamemodeDescription {

}

.additionalOptions {
    margin: 2%;
    border: #785A28 solid 2px;
}

.activeAdditionalOptions {
    border: #C89B3C solid 3px;
    margin: 2%;
}

.activeAdditionalOptions::before {
    position: relative;
    content: "▶ ";
}

.additionalOptionsContainer {
    position: relative;
    top: 20%;
}

.confirmButton {
    font-family: "Beaufort for LOL";
    font-weight: 700;
    position: absolute;
    top: 85%;
    width: 20%;
    left: 40%;
    height: 10%;
    background-color: transparent;
    align-content: center;
    text-align: center;
    border: #C89B3C solid 4px;
}

.confirmButton:hover {
    background-color: rgba(50,50,50, 0.5);
}

.confirmButtonContent {
    margin-top: 10%;
}