.task_configuration_container {
    flex: 0;
    margin-top: 15px;
    border: #C89B3C solid;
    border-radius: 5px;
}

.task_configuration_name {
    display: flex;
    color: red;
    margin-left: 10px;
}

.task_configuration_parameter_container {
    display: flex;
}

.singleTaskConfig {
    flex: 0;
    margin-left: 10px;
}

.task_configuration_parameter {
    flex: 1;
    background: transparent;
    border: #785A28 solid 2px;
    margin: 5px 0 5px 0;
    border-radius: 5px;

}

.task_configuration_parameter:active {
    background: red;
    border: #C8AA6E solid 2px;
}

.task_configuration_parameter:focus {
    background: green;
    border: transparent solid;
    outline: #C8AA6E solid;
}